/***
Custimized Bootstrap Wells
***/

.well {
    border: 0;
    padding: 20px;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.well-lg {
    padding: 40px;
}

.well-sm {
    padding: 10px;
}

