.widget {
    background: #ffffff;
    clear: both;
    margin-bottom: 20px;
}

.widget-title {
    cursor: move;
    overflow: hidden;
    background: #ebeae8;
    height: 44px;
    line-height: 34px;
    border-bottom: 1px solid #ffffff;
    color: #1f64a0 !important;
}

.widget-title > h4 {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    height: 45px;
    overflow: hidden;
    margin: 0;

    span {
        margin-left: 10px;
    }
}

.widget-title > h4 i {
    font-size: 14px;
    margin-right: 2px;
}

.widget_none_color {
    background-color: #d4d4d4 !important;
}

.widget-title .btn-group {
    margin-right: 5px;
    margin-top: -2px;
}

.widget-title .btn-group .caret {
    margin-top: 8px;
    margin-left: 3px;
}

.widget-body {
    padding: 15px 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    min-height: 200px;

}

.widget-main {
    margin-top: 20px;

    h2 {
        font-size: 16px;
        margin-top: 0;
    }

    #wrap-widget-1 {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 49%;
            float: left;
            margin-bottom: 20px;

            &:nth-child(2n) {
                margin-left: 2%;
            }

            .widget-content {
                display: none;
            }

            &:hover {
                .widget-handle {
                    border-color: #999999;
                    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
                }
            }

            .widget-handle {
                .widget-name {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .widget-name {
            .text-right {
                display: none;
            }
        }
    }

    #wrap-widget-1, #added-widget {
        li .widget-handle {
            margin: 0;
            padding: 15px;
            font-size: 15px;
            line-height: 0.8;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            background: #fafafa;
            color: #23282d;
            border: 1px solid #e5e5e5;
        }
    }
}

.sidebar-area {
    padding: 15px 7px;
    background: #ffffff;
    margin-bottom: 20px;

    h3 {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }
}

#added-widget {
    ul {
        min-height: 50px;
        padding: 0;
        margin: 20px 0 0;
        list-style: none;
    }

    .widget-name {
        margin-bottom: 0;
        margin-top: 0;
        position: relative;

        .text-right {
            position: absolute;
            top: -2px;
            right: 0;
        }
    }

    .widget-content {
        display: none;
        padding: 7px 7px 20px;
        border: 1px solid #e5e5e5;
        border-top: none;

        .btn {
            margin: 0;
        }
    }

    .widget-description {
        display: none;
    }

    li {
        margin-bottom: 20px;
    }
}

.widget-description {
    padding: 6px;

    p {
        margin: 0 0 10px;
    }
}

.list-tabs-order {
    > div {
        background: #fafafa;
        padding: 10px;
        border: 1px solid #eeeeee;
        cursor: move;
        margin-bottom: 10px;
    }
}

.meta-boxes {
    margin-top: 20px;

    .widget-title {
        cursor: move;
        overflow: hidden;
        height: 35px;
        border-bottom: 1px solid #eeeeee;
        padding: 0 5px;
        background: none;

        > h4 {
            line-height: 35px;
            height: 35px;
        }
    }

    .widget-body {
        min-height: 0;
    }
}

.panel-group .widget.panel {
    margin: 10px 0;
}